/* --- fonts --- */

@font-face {
  font-family: NarkissTam;
  src: url(../fonts/NarkissTam-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: NarkissYairMono;
  src: url(../fonts/NarkissYairMono-Bold-TRIAL.otf);
  font-weight: bold;
}

@font-face {
  font-family: NarkissYairMono;
  src: url(../fonts/NarkissYairMono-Regular-TRIAL.otf);
  font-weight: normal;
}

@font-face {
  font-family: NarkissYairMono;
  src: url(../fonts/NarkissYairMono-Light-TRIAL.otf);
  font-weight: lighter;
}

/* --- setup --- */

* {
    margin: 0;
    padding: 0;
    font: inherit;
    text-decoration: none;
  }

*, *::before, *::after {
  box-sizing: border-box;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
*:focus {
  outline: none !important;
}

/* root */

:root {
  /* color */
  --white-clr: rgb(255,255,255);
  --black-clr: rgb(0,0,0);
  --orang-clr: #ff9000;
  --green-clr: #00e747;
}

/* --- primitives --- */

body {
  background-color: var(--black-clr);
  display: flex;
  flex-direction: row-reverse;
}

p {
  color: var(--white-clr);
  font-family: NarkissYairMono;
  font-size: 45px;
  line-height: 44px;
  font-weight: normal;
}

h3 {
  color: var(--white-clr);
  font-family: NarkissYairMono;
  font-size: 90px;
  font-weight: bold;
}

/* --- classes --- */

.sidenav {
  height: 100vh;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 0;
  position: sticky;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.sidenav .letter_container {
  height: 3.5vh;
  width: 3vh;
  flex: flex;
  flex-direction: column;
  padding: 6px 8px 70px 16px;
  margin: 0 30px 0 20px;
  color: var(--white-clr);
  display: block;
  border-radius: 0.4em;
}

.sidenav .letter_container .letter {
  font-family: NarkissTam;
  font-size: 50px;
  font-weight: lighter;
}

.marked {
  outline-style: solid;
  outline-color: var(--orang-clr);
}

.collapsible {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 15px;
}

.site_header {
  padding: 3vh;
  margin-bottom: 3vh;
}

.items {
  display: flex;
  flex-direction: column;
  width: auto;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.item_header {
  display: flex;
  gap: 4vw;
  justify-content: flex-start;
  align-items: flex-end;
}

.item_title {
  display: flex;
  flex-direction: column;
}

.item_title em{
  font-family: NarkissTam;
  font-size: 85px;
  font-weight: lighter;
  color: var(--green-clr);
}

.item_symbol img {
  max-height: 95px;
}

.item_content {
  display: flex;
  flex-direction: column;
  max-height: 0;
  padding-left: 15vw;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.upper_padding {
  min-height: 5vh;
}

.lower_padding {
  min-height: 2vh;
}

.item_definition {
  display: block;
}

.item_examples {
  display: block;
  margin-top: 4vh;
}

.item_examples p {
  color: var(--green-clr);
}

.item_examples p em {
  color: var(--white-clr);
}

.item_examples p i {
  color: var(--orang-clr);
}

.buffer {
  overflow: hidden;
  height: 50px;
}

.buffer_txt {
}

/* functions */

.active, .collapsible:hover {
}

.slideIn { left: 70px; }

.blur { filter: blur(1.5em); }


  
  